.App {
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(45deg, #007bff, #28a745);
  font-family: Arial, sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column; /* Align content vertically */
  justify-content: center;
  align-items: center;
}

.container {
  text-align: center;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  margin: 0 auto;
  transition: transform 0.2s ease;
}

.container:hover {
  transform: scale(1.02);
}

.category-container {
  text-align: center;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  margin: 0 auto 20px auto; /* Adjusted margin to create space between the main container and category container */
  transition: transform 0.2s ease;
}

.category-container:hover {
  transform: scale(1.02);
}

h1 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
  margin-bottom: 20px;
}

button {
  font-size: 16px;
  padding: 10px 20px;
  margin: 5px;
  border: none;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  transition: transform 0.2s ease, background-color 0.2s ease, opacity 0.2s ease;
}

button:hover {
  transform: scale(1.05);
  background-color: #0056b3;
  opacity: 0.9;
}

button.next {
  background-color: #28a745;
}

button.next:hover {
  transform: scale(1.05);
  background-color: #1d8526;
}

button.restart {
  font-size: 16px;
  padding: 10px 20px;
  margin: 5px;
  border: none;
  background-color: #dc3545;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  transition: transform 0.2s ease, background-color 0.2s ease, opacity 0.2s ease;
}

button.restart:hover {
  transform: scale(1.05);
  background-color: #c82333;
  opacity: 0.9;
}

p.feedback {
  font-size: 18px;
  margin-top: 20px;
  color: #d9534f;
}

p.success {
  color: #5bc0de;
}

div.button-container {
  text-align: center;
  margin-top: 20px;
}

.category-select {
  margin-top: 10px;
}

.category-select label {
  font-size: 16px;
  margin-right: 10px;
}

.category-select select {
  font-size: 16px;
  padding: 5px;
}

.category-select button {
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  transition: transform 0.2s ease, background-color 0.2s ease, opacity 0.2s ease;
}

.category-select button:hover {
  transform: scale(1.05);
  background-color: #0056b3;
  opacity: 0.9;
}
